/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC           &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                                       &kp N6     &kp N7  &kp N8     &kp N9      &kp N0         &kp MINUS
&kp TAB           &kp Q   &kp W   &kp F     &kp P     &kp G                                        &kp J      &kp L   &kp U      &kp Y       &kp SEMICOLON  &kp EQUAL
&kp LEFT_COMMAND  &kp A   &kp R   &kp S     &lt 1 T   &kp D                                        &kp H      &kp N   &kp E      &kp I       &kp O          &kp SQT
&kp LCTRL         &kp Z   &kp X   &kp C     &kp V     &kp B           &kp LBKT         &kp RBKT    &kp K      &kp M   &kp COMMA  &kp PERIOD  &kp SLASH      &kp NON_US_BACKSLASH
                                  &kp LALT  &kp LGUI  &kp LEFT_SHIFT  &kp BACKSPACE    &kp RETURN  &kp SPACE  &mo 0   &kp GRAVE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans          &trans        &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans          &kp UP_ARROW  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans          &trans        &trans     &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans          &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
